* {
	padding: 0;
	margin: 0;
	font-size: 100%;
}

body {
	font-family: 'Open Sans',serif;
    font-size: 1.1875rem;
    line-height: 1.9375rem;
    letter-spacing: normal;
}

#pagewrapper {
	border: none;
	width: 95%;
	margin: 0.5rem auto;
}

h1 { 
	font-size: 45px; 
	font-weight: bold; 
	line-height: 48px; 
	text-align: center;
	margin: 50px; 
}

section {
	border: 1px solid lightgrey;
}

header {
	border: 1px solid lightgrey;
}

footer {
	border: 1px solid lightgrey;
}

.placeslist {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 1rem;
}

.place {
	width: 500px;
	margin: rem;
	border: 1px solid lightgrey;
}

.place img {
	float: left;
	border-radius: 10px;
	display: flex;
	max-width: 100%;
	height: auto;
	margin-bottom: 15px;
}



#rightcol {
	display: inline-block;
	width: 75%;
	vertical-align: top;
}

#leftcol {
	display: inline-block;
	width: 20%;
	vertical-align: top;
}

footer {
clear: both;
}

#front img {
	max-width: 100%;
	border-radius: 10px;
  	height: auto;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	
}

#primarynav {
	background-color: none;
	text-align: center;
}

#primarynav li {
	list-style: none;
	display: inline-block;
}

#primarynav a {
	text-decoration: none;
	padding: 0.5rem;
	display: inline-block;
	border-right: 1px solid lightgrey;
	text-align: center;
	min-width: 100px;
}

#primarynav li:first-child a {
	border-left: 1px solid lightgrey;
}

#secondarynav li {
	list-style: none;
	width: 80%;
}

.review img {
	border-radius: 50%;
	float: left;
	width: 5%;
}

#content img {
	float: left;
	max-width: 50%;
  	height: auto;
  	margin: 20px;
  	vertical-align: super;
}

p {
	margin: 30px;
	margin-left: 10px;
}

#tip img {
	float: left;
	max-width: 20%;
  	height: auto;
  	margin: 20px;
  	vertical-align: super;
}

#tip {
	display: inline-block;
	text-align: center;
}
	
 
